.idea*
backend.LearnIt/.idea*
backend/LearnIT/ENV/*
frontend/LearnIT/node_modules/*
backend/LearnIT/LearnIT/__pycache__/*
backend/LearnIT/CoreApp/__pycache__/*
backend/LearnIT/AuthApp/__pycache__/*
LearnIT

