            <div class="col-xs-6 col-sm-7">
                <div class="container-content">
                    <arrows-component #arrowComponent>Loading Arrows</arrows-component>
                    <console-component [textConsole] ='consoleResult'>Loading Console</console-component>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="container-content border">
                    <render-component (ideEm)="ide.emitIde()" (descEm)="descriptioncmp.emDesc()" (consoleVal)='ConsolePrint($event)' >Loading Render</render-component>
                    <descriptioncmp #descriptioncmp>Loading Description</descriptioncmp>
                </div>
            </div>