<div class="arrows">
    <div class="row">
        <div class="col-xs-12 full-height">
           <div class="display-arrows">
                       <div class="row">
                            <div id="100{{i}}" *ngFor="let arrow of arrowList; let i=index" class="col-sm-1">
                                <i (click)="destroy(i)" class="fa fa-arrow-{{arrow.dir}}" aria-hidden="true"></i>
                            </div>
                       </div>
           </div>
            <div class="selection-arrows">
                <a id="right" href="#"><i (click)="clicked('right')" class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <a id="up" href="#"><i (click)="clicked('up')" class="fa fa-arrow-up" aria-hidden="true"></i></a>
                <a id="left" href="#"><i (click)="clicked('left')" class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <a id="down" href="#"><i (click)="clicked('down')" class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>