<div class="description">
    <div class="row">
        <div class="col-xs-12 full-height">
            <textarea disabled rows="4" cols="50" class="custom-textarea">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum neque lorem, non lacinia ante viverra ut. Ut convallis diam ut ex rhoncus commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus odio velit, ornare eu ante rutrum, dictum aliquet tellus.
            </textarea>
        </div>
    </div>
</div>