<div class="arrows">
    <div class="row">
        <div class="col-xs-12 full-height">
           <div class="display-arrows">
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
           </div>
            <div class="selection-arrows">
                <a id="right" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <a id="up" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                <a id="left" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <a id="down" href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>