<div class="side-menu">
    <ul>
        <li>
            <br>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="#" class="active-side-menu">
                <i class="fa fa-code" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
        </li>

    </ul>
</div>