<nav-component>Navbar Loading</nav-component>

<div class="container-fluid">
    <div class="retract-top">
        <div class="row">
            <div class="col-xs-2 col-sm-1">
                <side-menu-component>Side Menu Loading</side-menu-component>
            </div>
            <div class="col-xs-6 col-sm-7">
                <div class="container-content">
                    <!--<ide>Loading Ide</ide>-->
                    <arrows-component>Loading Arrows</arrows-component>
                    <console-component>Loading Console</console-component>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="container-content border">
                    <render-component>Loading Render</render-component>
                    <description-component>Loading Description</description-component>
                </div>
            </div>
        </div>
    </div>
</div>