.ide{
    height: 70%;
    border-bottom: 1px solid #9e3794;
    border-right: 1px solid #9e3794;
}
.full-height{
    height: 100%;
}
.custom-textarea{
    background-color: transparent;
    width: 100%;
    height: 90%;
    color:#696969;
    font-family: "Raleway Regular",Arial,sans-serif;
    font-size: 14px;
    border: 0px solid transparent;
    padding: 0px;
    padding: 0px 2vw;
    margin-top: 1vw;
}
